<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title></title>
  </head>
  <body>
    <form class="quantity" method="POST">
      <div class="jumbotron text-center">
            +90 850 885
            <input type="number" name="number1" min="0" max="3" value="0">
            <input type="number" name="number2" min="0" max="9" value="0">
            <input type="number" name="number3" min="0" max="9" value="0">
            <input type="number" name="number4" min="0" max="9" value="0">
            <input type="submit" value="sorgula" class="btn btn-outline-dark" ><br>
            <template>{{ . }}</template>
          </div>
  </body>
</html>
